<div class="main-app-wrapper">
    <div>
        <app-header></app-header>
    </div>

    <div class="app-layout-container" [class.sidebar-collapsed]="isCollapsed">
        <!-- Sidebar Navigation -->
        <aside class="app-sidebar">
            <nav class="sidebar-nav">
                <!-- Main Navigation Items (Flat list) -->
                <ul class="nav-list main-nav">
                    <!-- Search Items -->
                    <li class="nav-item-wrapper" *ngIf="res && res['isSearchAllowed']" routerLinkActive="active" (click)="reload()">
                        <a class="nav-item-link" routerLink="/search">
                            <span class="nav-item-icon-box"><i class="icons fa fa-search" aria-hidden="true"></i></span>
                            <span class="nav-item-text">Search Items</span>
                        </a>
                    </li>

                    <!-- Collection -->
                    <li class="nav-item-wrapper" *ngIf="res && (res['isCollectionAllowed'] || res['isDeaccessionAllowed'])" routerLinkActive="active" (click)="reload()">
                        <a class="nav-item-link" routerLink="/collection">
                            <span class="nav-item-icon-box"><i class="icons fa fa-clone" aria-hidden="true"></i></span>
                            <span class="nav-item-text">Collection</span>
                        </a>
                    </li>

                    <!-- Request -->
                    <li class="nav-item-wrapper" *ngIf="res && (res['isRequestAllowed'] || res['isRequestAllAllowed'] || res['isRequestItemAllowed'])" routerLinkActive="active" (click)="reload()">
                        <a class="nav-item-link" routerLink="/request">
                            <span class="nav-item-icon-box"><i class="icons fa fa-hand-o-right" aria-hidden="true"></i></span>
                            <span class="nav-item-text">Request</span>
                        </a>
                    </li>

                    <!-- Search Request -->
                    <li class="nav-item-wrapper" *ngIf="res && (res['isRequestAllowed'] || res['isRequestAllAllowed'] || res['isRequestItemAllowed'])" routerLinkActive="active" (click)="reload()">
                        <a class="nav-item-link" routerLink="/search-request">
                            <span class="nav-item-icon-box"><i class="icons fa fa-search" aria-hidden="true"></i></span>
                            <span class="nav-item-text">Search Request</span>
                        </a>
                    </li>

                    <!-- Bulk Request -->
                    <li class="nav-item-wrapper" *ngIf="res && res['isBulkRequestAllowed']" routerLinkActive="active" (click)="reload()">
                        <a class="nav-item-link" routerLink="/bulkrequest">
                            <span class="nav-item-icon-box"><i class="icons fa fa-files-o" aria-hidden="true"></i></span>
                            <span class="nav-item-text">Bulk Request</span>
                        </a>
                    </li>

                    <!-- Reports -->
                    <li class="nav-item-wrapper" *ngIf="res && res['isReportAllowed']" routerLinkActive="active" (click)="reload()">
                        <a class="nav-item-link" routerLink="/reports">
                            <span class="nav-item-icon-box"><i class="icons fa fa-bar-chart" aria-hidden="true"></i></span>
                            <span class="nav-item-text">Reports</span>
                        </a>
                    </li>

                    <!-- Roles -->
                    <li class="nav-item-wrapper" *ngIf="res && res['isRoleAllowed']" routerLinkActive="active" (click)="reload()">
                        <a class="nav-item-link" routerLink="/roles">
                            <span class="nav-item-icon-box"><i class="icons fa fa-key" aria-hidden="true"></i></span>
                            <span class="nav-item-text">Roles</span>
                        </a>
                    </li>

                    <!-- Users -->
                    <li class="nav-item-wrapper" *ngIf="res && res['isUserRoleAllowed']" routerLinkActive="active" (click)="reload()">
                        <a class="nav-item-link" routerLink="/userRoles">
                            <span class="nav-item-icon-box"><i class="icons fa fa-users" aria-hidden="true"></i></span>
                            <span class="nav-item-text">Users</span>
                        </a>
                    </li>

                    <!-- Jobs -->
                    <li class="nav-item-wrapper" *ngIf="res && res['isSuperAdmin']" routerLinkActive="active" (click)="reload()">
                        <a class="nav-item-link" routerLink="/jobs">
                            <span class="nav-item-icon-box"><i class="icons fa fa-briefcase" aria-hidden="true"></i></span>
                            <span class="nav-item-text">Jobs</span>
                        </a>
                    </li>

                    <!-- Monitoring -->
                    <li class="nav-item-wrapper" *ngIf="res && res['isMonitoring']" routerLinkActive="active" (click)="reload()">
                        <a class="nav-item-link" routerLink="/monitoring">
                            <span class="nav-item-icon-box"><i class="icons fa fa-desktop" aria-hidden="true"></i></span>
                            <span class="nav-item-text">Monitoring</span>
                        </a>
                    </li>

                    <!-- Logging -->
                    <li class="nav-item-wrapper" *ngIf="res && res['isLogging']" routerLinkActive="active" (click)="reload()">
                        <a class="nav-item-link" routerLink="/logging">
                            <span class="nav-item-icon-box"><i class="icons fa fa-file-text" aria-hidden="true"></i></span>
                            <span class="nav-item-text">Logging</span>
                        </a>
                    </li>

                    <!-- Data Export -->
                    <li class="nav-item-wrapper" *ngIf="res && res['isDataExport']" routerLinkActive="active" (click)="reload()">
                        <a class="nav-item-link" routerLink="/dataExport">
                            <span class="nav-item-icon-box"><i class="icons fa fa-cloud-download" aria-hidden="true"></i></span>
                            <span class="nav-item-text">Data Export</span>
                        </a>
                    </li>

                    <!-- Gateway Request Log -->
                    <li class="nav-item-wrapper" *ngIf="res && res['isRequestLog']" routerLinkActive="active" (click)="reload()">
                        <a class="nav-item-link" routerLink="/requestLog">
                            <span class="nav-item-icon-box"><i class="icons fa fa-file-text-o" aria-hidden="true"></i></span>
                            <span class="nav-item-text">Gateway Request Log</span>
                        </a>
                    </li>
                </ul>

                <!-- Bottom Navigation Items -->
                <ul class="nav-list bottom-nav">

                    <!-- Collapse Toggle -->
                    <li class="nav-item-wrapper collapse-toggle-item" (click)="toggleCollapse()">
                        <div class="nav-item-link">
                            <span class="nav-item-icon-box">
                                <i class="icons fa" [ngClass]="isCollapsed ? 'fa-angle-double-right' : 'fa-angle-double-left'" aria-hidden="true"></i>
                            </span>
                            <span class="nav-item-text">Collapse</span>
                        </div>
                    </li>
                </ul>
            </nav>
        </aside>

        <!-- Main Content Area -->
        <main class="app-main-content">
            <!-- Frozen Institution Messages (if any) -->
            <div class="frozen-messages-banner" *ngIf="frozenInstitutionMessages && frozenInstitutionMessages.length > 0">
                <ng-container *ngFor="let message of frozenInstitutionMessages">
                    <span class="form-control bold bg-red color-white frozen-message" *ngIf="message">{{message}}</span>
                </ng-container>
            </div>

            <div class="main-content-scrollable">
                <!-- Dynamic Content Header (Title & Subtitle) -->
                <div class="content-header" *ngIf="activeRouteInfo && activeRouteInfo.title">
                    <h1 class="content-title">{{ activeRouteInfo.title }}</h1>
                    <p class="content-subtitle">{{ activeRouteInfo.desc }}</p>
                </div>

                <!-- Page Component Content -->
                <div class="content-body">
                    <router-outlet></router-outlet>
                </div>
            </div>

            <!-- Footer -->
            <app-footer></app-footer>
        </main>
    </div>
</div>
