<div id="recapPageHeaderId" name="recapPageHeaderName">
    <header class="compact-header">
        <div class="header-container">
            <!-- Brand Section on Left -->
            <div class="brand-section">
                <a href="http://recap.princeton.edu/" class="recap-logo-link">
                    <img src="../../../../assets/images/recap-logo-final.png" alt="ReCAP" class="recap-logo">
                </a>
                <span class="scsb-cls">SCSB</span>
            </div>

            <!-- User Info and Actions on Right -->
            <div class="actions-section">
                <span class="welcome-text">Welcome <span>{{userDesc}}</span></span>

                <a class="help-link" id="help" href="https://htcrecap.atlassian.net/wiki/display/RTG/Search" target="_blank">
                    <span class="glyphicon glyphicon-question-sign"></span> Help
                </a>

                <form id="logoutForm" name="logoutForm" ngNoForm [action]="url" method="GET" class="logout-form">
                    <input type="hidden">
                    <button class="btn-logout" id="logout" type="submit">
                        <img src="../../../../assets/images/logout.png" alt="" class="logout-icon"> Logout
                    </button>
                </form>
            </div>
        </div>
    </header>
</div>
