<div class="search-bar">
    <div class="row margin-0">
        <div class="col-12">
            <div class="row">

                <div class="input-group buscador-principal scsb-search-controls">

                    <input
                        id="pageNumber"
                        name="pageNumber"
                        type="text"
                        hidden="hidden"/>

                    <input
                        id="totalPageCount"
                        name="totalPageCount"
                        type="text"
                        hidden="hidden"/>

                    <input
                        id="totalBibRecordsCount"
                        name="totalBibRecordsCount"
                        type="text"
                        hidden="hidden"/>

                    <input
                        id="totalItemRecordsCount"
                        name="totalItemRecordsCount"
                        type="text"
                        hidden="hidden"/>

                    <button
                        id="pageSizeChangeButtonId"
                        name="action"
                        type="submit"
                        value="pageSizeChange"
                        hidden="hidden">
                    </button>

                    <!-- Search Input -->
                    <div class="scsb-search-input">
                        <div class="has-feedback">

                            <input
                                class="form-control"
                                id="fieldValue"
                                name="fieldValue"
                                type="search"
                                (keyup)="clearFieldvalue()"
                                (paste)="onPasteHandler($event.clipboardData.getData('text/plain'))"
                                formControlName="fieldValue"
                                placeholder="Type Text Here....."
                                autofocus="autofocus"/>

                            <span
                                *ngIf="clearSearchTextCross"
                                class="add-clear-x form-control-feedback fa fa-times"
                                id="clearSearchText"
                                aria-hidden="true"
                                (click)="clearSearchText()">
                            </span>

                        </div>
                    </div>

                    <!-- All Fields -->
                    <div class="input-group-btn search-panel scsb-search-field">
                        <select
                            class="form-control btn themed-button themed-button-allfields dropdown-toggle"
                            id="allfields"
                            formControlName="fieldName"
                            (change)="checkFieldValue()">

                            <option value="">All Fields</option>

                            <option
                                *ngFor="let fld of searchfieldval"
                                [value]="fld.id">
                                {{ fld.name }}
                            </option>

                        </select>
                    </div>

                    <!-- Search -->
                    <div class="input-group-btn padding-right-10 scsb-search-action">
                        <button
                            class="btn themed-button"
                            id="search"
                            name="action"
                            type="button"
                            (click)="searchRecord()"
                            value="search">

                            Search
                        </button>
                    </div>

                    <!-- Reset Search -->
                    <div class="input-group-btn padding-right-10 scsb-search-action">
                        <button
                            class="btn themed-button themed-button-cancel"
                            id="resetSearch"
                            name="action"
                            type="button"
                            [disabled]="!searchForm.dirty"
                            (click)="onReset()"
                            value="newSearch">

                            Reset Search
                        </button>
                    </div>

                    <!-- Show Facets -->
                    <div class="input-group-btn scsb-search-facets">
                        <button
                            class="btn themed-button themed-button-facet dropdown-toggle"
                            type="button"
                            (click)="facetsshowhide()">

                            <span id="showFacets">
                                Show Facets
                            </span>

                            <span
                                class="fa fa-chevron-down small"
                                aria-hidden="true">
                            </span>

                        </button>
                    </div>

                </div>

            </div>

            <!-- Existing facet content remains unchanged below this point -->
            <div
                class="row collapse"
                id="search-filter"
                style="padding-top: 10px; padding-bottom: 15px">

                <!-- KEEP YOUR EXISTING FACET HTML EXACTLY AS IT IS -->

            </div>

        </div>
    </div>
</div>