<div class="search-bar" [formGroup]="searchForm">
    <div class="row margin-0">
        <div class="col-12">
            <div class="row">

                <div class="input-group buscador-principal scsb-search-controls">

                    <input
                        id="pageNumber"
                        name="pageNumber"
                        type="text"
                        hidden="hidden"/>

                    <input
                        id="totalPageCount"
                        name="totalPageCount"
                        type="text"
                        hidden="hidden"/>

                    <input
                        id="totalBibRecordsCount"
                        name="totalBibRecordsCount"
                        type="text"
                        hidden="hidden"/>

                    <input
                        id="totalItemRecordsCount"
                        name="totalItemRecordsCount"
                        type="text"
                        hidden="hidden"/>

                    <button
                        id="pageSizeChangeButtonId"
                        name="action"
                        type="submit"
                        value="pageSizeChange"
                        hidden="hidden">
                    </button>

                    <!-- Search Input -->
                    <div class="scsb-search-input">
                        <div class="has-feedback">

                            <span class="fa fa-search search-icon-left" aria-hidden="true"></span>

                            <input
                                class="form-control"
                                id="fieldValue"
                                name="fieldValue"
                                type="search"
                                (keyup)="clearFieldvalue()"
                                (paste)="onPasteHandler($event.clipboardData.getData('text/plain'))"
                                formControlName="fieldValue"
                                placeholder="Search by title, author, or barcode..."
                                autofocus="autofocus"/>

                            <span
                                *ngIf="clearSearchTextCross"
                                class="add-clear-x form-control-feedback fa fa-times"
                                id="clearSearchText"
                                aria-hidden="true"
                                (click)="clearSearchText()">
                            </span>

                        </div>
                    </div>

                    <!-- All Fields -->
                    <div class="input-group-btn search-panel scsb-search-field">
                        <select
                            class="form-control btn themed-button themed-button-allfields dropdown-toggle"
                            id="allfields"
                            formControlName="fieldName"
                            (change)="checkFieldValue()">

                            <option value="">All Fields</option>

                            <option
                                *ngFor="let fld of searchfieldval"
                                [value]="fld.id">
                                {{ fld.name }}
                            </option>

                        </select>
                    </div>

                    <!-- Search -->
                    <div class="input-group-btn padding-right-10 scsb-search-action">
                        <button
                            class="btn themed-button"
                            id="search"
                            name="action"
                            type="button"
                            (click)="searchRecord()"
                            value="search">

                            Search
                        </button>
                    </div>

                    <!-- Reset Search / Clear -->
                    <div class="input-group-btn padding-right-10 scsb-search-action">
                        <button
                            class="btn themed-button themed-button-cancel"
                            id="resetSearch"
                            name="action"
                            type="button"
                            [disabled]="!searchForm.dirty"
                            (click)="onReset()"
                            value="newSearch">

                            Clear
                        </button>
                    </div>

                    <!-- Show Facets / Filters -->
                    <div class="input-group-btn scsb-search-facets">
                        <button
                            class="btn themed-button themed-button-facet dropdown-toggle"
                            type="button"
                            (click)="facetsshowhide()">

                            <span class="fa fa-sliders" aria-hidden="true"></span>

                            <span id="showFacets">
                                Filters
                            </span>

                            <span
                                class="fa fa-chevron-down small"
                                aria-hidden="true">
                            </span>

                            <span class="facet-badge">
                                {{ getSelectedFiltersCount() }}
                            </span>

                        </button>
                    </div>

                </div>

            </div>

            <!-- Facet/Filters Panel -->
            <div id="search-filter" class="search-filter-panel" style="display: none; padding-top: 10px; padding-bottom: 15px;">
                <div class="facet-row">
                    <!-- Select / Unselect All Column -->
                    <div class="facet-column col-select-all">
                        <h4 class="facet-group-header">Select / Unselect All</h4>
                        <div class="facet-section">
                            <label class="facet-checkbox-label">
                                <input type="checkbox" [checked]="facetsChecked" (change)="toggleAllFacets($event.target.checked)" />
                                <span>Facets</span>
                            </label>
                        </div>
                    </div>

                    <!-- Bib Facets Column -->
                    <div class="facet-column col-bib-facets">
                        <h4 class="facet-group-header">Bib Facets</h4>
                        <div class="facet-sections-row">
                            <div class="facet-section">
                                <h5 class="facet-section-header">Owning Institution</h5>
                                <div class="facet-checkbox-list">
                                    <label class="facet-checkbox-label" *ngFor="let item of instVal">
                                        <input type="checkbox" [checked]="checkedItem(item)" (change)="onChange($event.target.checked, item); enableResetSearch($event.target.checked)" />
                                        {{ item }}
                                    </label>
                                </div>
                            </div>
                            <div class="facet-section">
                                <h5 class="facet-section-header">Material Type</h5>
                                <div class="facet-checkbox-list">
                                    <label class="facet-checkbox-label">
                                        <input type="checkbox" formControlName="Monograph" /> Monograph
                                    </label>
                                    <label class="facet-checkbox-label">
                                        <input type="checkbox" formControlName="Serial" /> Serials
                                    </label>
                                    <label class="facet-checkbox-label">
                                        <input type="checkbox" formControlName="others" /> Others
                                    </label>
                                </div>
                            </div>
                            <div class="facet-section">
                                <h5 class="facet-section-header">Title Match</h5>
                                <div class="facet-checkbox-list">
                                    <label class="facet-checkbox-label">
                                        <input type="checkbox" formControlName="matched" /> Matched
                                    </label>
                                    <label class="facet-checkbox-label">
                                        <input type="checkbox" formControlName="notMatched" /> Not Matched
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Item Facets Column -->
                    <div class="facet-column col-item-facets">
                        <h4 class="facet-group-header">Item Facets</h4>
                        <div class="facet-sections-row">
                            <div class="facet-section">
                                <h5 class="facet-section-header">Collection Group</h5>
                                <div class="facet-checkbox-list">
                                    <label class="facet-checkbox-label" *ngFor="let item of cgdVal">
                                        <input type="checkbox" [checked]="checkedItemCGD(item)" (change)="onChangeCGD($event.target.checked, item); enableResetSearch($event.target.checked)" />
                                        {{ item }}
                                    </label>
                                </div>
                            </div>
                            <div class="facet-section">
                                <h5 class="facet-section-header">Availability</h5>
                                <div class="facet-checkbox-list">
                                    <label class="facet-checkbox-label">
                                        <input type="checkbox" formControlName="Available" /> In
                                    </label>
                                    <label class="facet-checkbox-label">
                                        <input type="checkbox" formControlName="notAvailable" /> Out
                                    </label>
                                </div>
                            </div>
                            <div class="facet-section">
                                <h5 class="facet-section-header">Use Restriction</h5>
                                <div class="facet-checkbox-list">
                                    <label class="facet-checkbox-label">
                                        <input type="checkbox" formControlName="NoRestrictions" /> No Restriction
                                    </label>
                                    <label class="facet-checkbox-label">
                                        <input type="checkbox" formControlName="InLibraryUse" /> In Library Use
                                    </label>
                                    <label class="facet-checkbox-label">
                                        <input type="checkbox" formControlName="SupervisedUse" /> Supervised Use
                                    </label>
                                </div>
                            </div>
                            <div class="facet-section">
                                <h5 class="facet-section-header">Storage Location</h5>
                                <div class="facet-checkbox-list">
                                    <label class="facet-checkbox-label" *ngFor="let item of storageLocationVal">
                                        <input type="checkbox" [checked]="checkedItemStorageLocation(item)" (change)="onChangeStorageLocation($event.target.checked, item); enableResetSearchStorageLocation($event.target.checked)" />
                                        {{ item }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Results Grid Section -->
            <div class="search-results-container" *ngIf="showresultdiv">

                <!-- Error Message -->
                <div class="row margin-btm-10" *ngIf="errorMessage_Div">
                    <div class="col-sm-12">
                        <div class="bg-danger text-danger padding-10">
                            <span class="fa fa-exclamation-triangle margin-right-05" aria-hidden="true"></span>
                            <span>{{ searchVal['errorMessage'] }}</span>
                        </div>
                    </div>
                </div>

                <!-- Main Results Card -->
                <div class="results-card" *ngIf="searchResultsDiv">
                    <!-- Top Toolbar Row 1: Navigation & Legend & Totals -->
                    <div class="results-card-top-row d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center gap-16 navigation-legend">
                            <div class="btn-group nav-btn-group" role="group">
                                <button type="button" class="btn btn-light nav-btn" [disabled]="firstbutton" (click)="firstClick()">First</button>
                                <button type="button" class="btn btn-light nav-btn" [disabled]="previousbutton" (click)="previousClick()">Previous</button>
                                <button type="button" class="btn btn-light nav-btn" [disabled]="nextbutton" (click)="nextClick()">Next</button>
                                <button type="button" class="btn btn-light nav-btn" [disabled]="lastbutton" (click)="lastClick()">Last</button>
                            </div>
                            <div class="d-flex align-items-center gap-12 legend-indicators">
                                <span class="legend-badge badge-in"><span class="badge-dot"></span>In</span>
                                <span class="legend-badge badge-out"><i class="fa fa-times-circle mr-1"></i>xOut</span>
                                <span class="legend-badge badge-partial"><span class="badge-dot"></span>Partial Availability</span>
                            </div>
                        </div>

                        <div class="text-right total-counts" *ngIf="!searchVal['showTotalCount']">
                            <div class="count-item">Bibliographic Results Found: <strong>{{ searchVal['totalBibRecordsCount'] }}</strong></div>
                            <div class="count-item">Item Results Found: <strong>{{ searchVal['totalItemRecordsCount'] }}</strong></div>
                        </div>
                        <div class="text-right total-counts" *ngIf="searchVal['showTotalCount']">
                            <div class="count-item">Total Results Found: <strong>{{ searchVal['totalRecordsCount'] }}</strong></div>
                        </div>
                    </div>

                    <!-- Header Controls Row 2: Show Entries & Help Text & Actions -->
                    <div class="results-card-header d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center gap-8 show-entries-container">
                            <span class="show-entries-label">Show Entries</span>
                            <select class="form-control show-entries-select" [ngModel]="showentries" [ngModelOptions]="{ standalone: true }" (ngModelChange)="onPageSizeChange($event)">
                                <option [value]="10">10</option>
                                <option [value]="25">25</option>
                                <option [value]="50">50</option>
                                <option [value]="100">100</option>
                            </select>
                        </div>

                        <div class="legend-help-text text-muted text-center flex-grow-1 px-3">
                            OI - Owning Institution, SL - Storage Location, CC - Customer Code, CGD - Collection Group Designation, SH - Summary Holdings
                        </div>

                        <div class="d-flex align-items-center gap-12 header-actions-right">
                            <span class="results-count-label"><strong>{{ searchVal['totalRecordsCount'] }}</strong> results found</span>
                            <button class="btn btn-outline-secondary btn-save-search">
                                <i class="fa fa-bookmark-o mr-1"></i> Save Search
                            </button>
                        </div>
                    </div>

                    <!-- PrimeNG Table -->
                    <div class="table-responsive grid-table-container">
                        <p-table name="p_table" #dt [columns]="cols" rowExpandMode="single"
                                 [value]="searchVal['searchResultRows']" dataKey="id"
                                 [(selection)]="selectedNodes1" (onHeaderCheckboxToggle)="onTableHeaderCheckboxToggle1($event)"
                                 (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" class="custom-p-table">
                            <ng-template pTemplate="header" let-columns>
                                <tr class="grid-header-row">
                                    <th class="col-expand-header" style="width: 2.5em;"></th>
                                    <th class="col-checkbox-header" style="width: 5.5em; text-align: center;">
                                        <div class="d-flex flex-column align-items-center">
                                            <span class="checkbox-header-label">Select All</span>
                                            <div class="d-flex align-items-center gap-2 mt-1">
                                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                                <span class="sort-icon-arrows fa fa-unsorted ml-1"></span>
                                            </div>
                                        </div>
                                    </th>
                                    <th class="col-status-header" style="width: 2.5em; text-align: center;"></th>
                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" class="col-header-{{ col.field }}">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span>{{ col.header }}</span>
                                            <p-sortIcon [field]="col.field" class="sort-icon-arrows"></p-sortIcon>
                                        </div>
                                    </th>
                                    <th class="col-actions-header" style="width: 2.5em;"></th>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns" let-rowIndex="rowIndex">
                                <tr [pSelectableRow]="rowData" class="grid-body-row" [ngClass]="rowIndex % 2 === 0 ? 'row-even' : 'row-odd'">
                                    <td class="col-expand-cell text-center">
                                        <a href="#" [pRowToggler]="rowData" class="row-toggler-link" (click)="$event.preventDefault()">
                                            <i [ngClass]="expanded ? 'fa fa-chevron-down' : 'fa fa-chevron-right'"></i>
                                        </a>
                                    </td>
                                    <td class="col-checkbox-cell text-center">
                                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                                    </td>
                                    <td class="col-status-cell text-center">
                                        <span class="status-indicator-dot" [ngClass]="rowData.availability === 'Available' ? 'status-in' : 'status-out'">
                                            <i [ngClass]="rowData.availability === 'Available' ? 'fa fa-check' : 'fa fa-times'"></i>
                                        </span>
                                    </td>
                                    <td *ngFor="let col of columns" class="col-cell-{{ col.field }}">
                                        <ng-container [ngSwitch]="col.field">
                                            <span *ngSwitchCase="'title'" class="cell-title-bold">
                                                {{ rowData[col.field] }}
                                            </span>
                                            <span *ngSwitchCase="'useRestriction'" [ngSwitch]="rowData[col.field]">
                                                <span *ngSwitchCase="'In Library Use'" class="badge-restriction r-in-library">In Library Use</span>
                                                <span *ngSwitchCase="'Supervised Use'" class="badge-restriction r-supervised">Supervised Use</span>
                                                <span *ngSwitchCase="'No Restrictions'" class="badge-restriction r-no-restrictions">No Restrictions</span>
                                                <span *ngSwitchDefault class="badge-restriction r-default">{{ rowData[col.field] }}</span>
                                            </span>
                                            <span *ngSwitchDefault>{{ rowData[col.field] }}</span>
                                        </ng-container>
                                    </td>
                                    <td class="col-actions-cell text-center">
                                        <div class="dropdown row-actions-dropdown">
                                            <button class="btn btn-link btn-row-actions" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                ...
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#" (click)="$event.preventDefault()">View Details</a>
                                                <a class="dropdown-item" href="#" (click)="$event.preventDefault()">Request Item</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                                <tr class="expanded-row-wrapper">
                                    <td [attr.colspan]="columns.length + 4" class="expanded-row-cell">
                                        <div class="inner-table-wrapper" [@rowExpansionTrigger]="'active'" style="padding: 12px 20px; background: #F9FAFB;">
                                            <p-table name="p_tablesub" #dt1 [columns]="cols1"
                                                     [value]="rowData.searchItemResultRows"
                                                     [(selection)]="selectedNodes2" (onHeaderCheckboxToggle)="onTableHeaderCheckboxToggle1($event)"
                                                     (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" class="inner-p-table">
                                                <ng-template pTemplate="header" let-innerCols>
                                                    <tr class="inner-header-row">
                                                        <th class="inner-checkbox-header text-center" style="width: 3em;">
                                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                                        </th>
                                                        <th *ngFor="let col of innerCols" class="inner-col-header-{{ col.field }}">
                                                            {{ col.header }}
                                                        </th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-innerRow let-innerIndex="rowIndex">
                                                    <tr class="inner-body-row" [ngClass]="innerIndex % 2 === 0 ? 'inner-row-even' : 'inner-row-odd'">
                                                        <td class="inner-checkbox-cell text-center">
                                                            <p-tableCheckbox [value]="innerRow"></p-tableCheckbox>
                                                        </td>
                                                        <td *ngFor="let col of cols1" class="inner-col-cell-{{ col.field }}">
                                                            <ng-container [ngSwitch]="col.field">
                                                                <span *ngSwitchCase="'useRestriction'" [ngSwitch]="innerRow[col.field]">
                                                                    <span *ngSwitchCase="'In Library Use'" class="badge-restriction r-in-library">In Library Use</span>
                                                                    <span *ngSwitchCase="'Supervised Use'" class="badge-restriction r-supervised">Supervised Use</span>
                                                                    <span *ngSwitchCase="'No Restrictions'" class="badge-restriction r-no-restrictions">No Restrictions</span>
                                                                    <span *ngSwitchDefault class="badge-restriction r-default">{{ innerRow[col.field] }}</span>
                                                                </span>
                                                                <span *ngSwitchDefault>{{ innerRow[col.field] }}</span>
                                                            </ng-container>
                                                        </td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                    <!-- Grid Footer Toolbar inside card -->
                    <div class="results-card-footer d-flex align-items-center justify-content-between" *ngIf="paginationBtmDiv">
                        <div class="showing-info-text">
                            Showing <strong>{{ getShowingStart() }}-{{ getShowingEnd() }}</strong> of <strong>{{ searchVal['totalRecordsCount'] }}</strong>
                        </div>

                        <nav class="pagination-navigation" aria-label="Page navigation">
                            <ul class="pagination pagination-sm custom-pagination mb-0">
                                <li class="page-item" [ngClass]="{ disabled: firstbutton }">
                                    <a class="page-link" href="#" (click)="firstClick(); $event.preventDefault()">
                                        <span class="page-arrow">«</span>
                                        <span class="page-label">First</span>
                                    </a>
                                </li>
                                <li class="page-item" [ngClass]="{ disabled: previousbutton }">
                                    <a class="page-link" href="#" (click)="previousClick(); $event.preventDefault()">
                                        <span class="page-arrow">&lt;</span>
                                        <span class="page-label">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item" *ngFor="let p of getPageNumbers()" [ngClass]="{ active: searchVal['pageNumber'] === p }">
                                    <a class="page-link" href="#" (click)="goToPage(p); $event.preventDefault()">{{ p + 1 }}</a>
                                </li>
                                <li class="page-item" [ngClass]="{ disabled: nextbutton }">
                                    <a class="page-link" href="#" (click)="nextClick(); $event.preventDefault()">
                                        <span class="page-label">Next</span>
                                        <span class="page-arrow">&gt;</span>
                                    </a>
                                </li>
                                <li class="page-item" [ngClass]="{ disabled: lastbutton }">
                                    <a class="page-link" href="#" (click)="lastClick(); $event.preventDefault()">
                                        <span class="page-label">Last</span>
                                        <span class="page-arrow">»</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                        <div class="d-flex align-items-center gap-12 footer-action-buttons">
                            <button class="btn btn-light btn-footer-action" id="requestSelected" (click)="routeToRequest()" [disabled]="!hasSelection()">
                                Request Selected Item(s)
                            </button>
                            <button class="btn btn-outline-secondary btn-footer-action btn-export" (click)="searchExport()" [disabled]="!hasSelection()">
                                <i class="fa fa-download mr-1"></i> Export Selected Records
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
